.message-container {
    position: relative;
    background-color: #003366;
    margin-top: 5px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

}

.message {
    font-size: 18px;
}

.message-header {
    font-weight: bold;

}


.friend-name {
    color: #21aff1;
}

.movie-information {
    margin-top: 10px;
    font-weight: bold;
    color: #f7f7f7;
}

.movie-name {
    font-family: 'Anticode', sans-serif;
                                                

}

.button-container {
    margin-top: 20px;
}

button {
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}

.like-button {
    background-color: #28a745;
}

.watched-button {
    background-color: #17a2b8;
}

.dislike-button {
    background-color: #dc3545;
}

button:hover {
    background-color: #0056b3;
}

.delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #dc3545;
}